/build/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Build folders
# =========================
bin/
build/
out/
dist/
Debug/
Release/

# =========================
# Compiled files
# =========================
*.o
*.out
*.exe
*.class

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db