@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}

.section {
	margin-top: 0;
	padding: 0;
}

.slider {
	width: 100%;
	height: 1000px;
	overflow: hidden;
}

.slide {
	width: 300%;
	height: 500px;
	display: flex;
}

.st-first {
	width: 33.33%;
	transition: margin-left 0.8s ease-in-out;
}

.st-first img {
	width: 100%;
	height: 1000px;
	object-fit: cover;
}

.st {
	width: 33.33%;
}

.st img {
	width: 100%;
	height: 1000px;
	object-fit: cover;
}

.can-section {
	display: flex;
	justify-content: center;
	gap: 2em;
	padding: 3em 0;
	text-align: center;
}

.can img {
	width: 400px;
	object-fit: contain;
}

.can #lemon{
	width:415px;
}

.can #classic_text {
	font-size: 4rem;
	color: #3B2FC9;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.can #peach_text {
	font-size: 4rem;
	color: #E8732F;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.can #lemon_text {
	font-size: 4rem;
	color: #D4E832;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.can #sugar_free_text {
	font-size: 4rem;
	color: #7DD4E8;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.can #sugar_free{
	width: 421px;
}